<div class="card">
  <div class="card-header bg-white">
    {{!-- Tab List  --}}
    <ul class="nav nav-tabs nav-tabs--text-left card-header-tabs nav-fill" id="dashboardTabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#taughtModules" role="tab" aria-controls="taughtModules" aria-selected="true">
          <h4 class="card-title mb-0">Modules</h4>
          <small>List</small>
        </a>
      </li>
      <li class="nav-item">
        <a id="courseworksCalendarLink" class="nav-link" href="#courseworksCalendar" role="tab"
          aria-controls="courseworksCalendar" aria-selected="false">
          <h4 class="card-text mb-0">Courseworks</h4>
          <small>Calendar</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#examsCalendar" role="tab" aria-controls="examsCalendar" aria-selected="false">
          <h4 class="card-text mb-0">Exams</h4>
          <small>Calendar</small>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#modulesGrades" role="tab" aria-controls="modulesGrades" aria-selected="false">
          <h4 class="card-text mb-0">Modules</h4>
          <small>Grades</small>
        </a>
      </li>
    </ul>
  </div>
  {{> _formMsgsDashboard }}
  <div class="card-body">
    <div class="tab-content mt-3">
      <!-- Modules List -->
      <div class="tab-pane active" id="taughtModules" role="tabpanel">
        <form id="taughtModulesForm" action="/dashboards/facultyMember/taughtModules/{{faculty.id}}?_method=DELETE"
          method="post">
          <input type="hidden" name="_method" value="DELETE">

          <div class="table-responsive">
            <table id="taughtModulesTable" class="table">
              <caption class="h5 py-0">Taught Modules</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="sort-title">
                    Title
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col" class="sort-course">
                    Course
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col" class="sort-level">
                    Level
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col">
                    <div class="custom-control custom-checkbox checkThemAll">
                      <input type="checkbox" class="custom-control-input" id="tmt-mlt-CheckAll">
                      <label class="custom-control-label" for="tmt-mlt-CheckAll"></label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each listTaughtModules}}
                <tr>
                  <th scope="row">{{aa}}</th>
                  <td class="title">
                    {{moduleName}}
                  </td>
                  <td class="course">
                    {{courseName}}
                  </td>
                  <td class="level">
                    {{courseDegree}}
                  </td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="tmt-mlt-{{moduleID}}" class="custom-control-input" name="modulesID"
                        value="{{moduleID}}">
                      <label class="custom-control-label" for="tmt-mlt-{{moduleID}}"></label>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end mt-3">
            {{#if listModules}}
            <!-- Add Taught Module Button -->
            <button type="button" id="triggerModalAddTaughtModuleBtn" class="btn btn-success mr-2" data-toggle="modal"
              data-target="#addTaughtModuleModal">
              Add Taught Modules
            </button>
            {{else}}
            <button id="UnableAddTaughtModuleBtn" type="button" class="btn btn-success mr-2" data-toggle="popover"
              data-trigger="focus" title="Attention" data-placement="bottom"
              data-content="There are no &ldquo;Modules&rdquo;. Please create a &ldquo;Module&rdquo; first.">
              Add Taught Modules
            </button>
            {{/if}}
            <!-- Trigger Delete Taught Module Modal -->
            <button type="button" id="triggerModalDeleteTaughtModulesBtn" class="btn btn-danger" data-trigger="true"
              data-toggle="modal" data-target="#deleteTaughtModulesModal" disabled>
              Delete
            </button>
            <!-- Delete Taught Module Button -->
            <button type="submit" id="deleteTaughtModulesBtn" class="btn btn-danger d-none">
              Delete
            </button>
          </div>
        </form>
      </div>
      <!-- Courseworks Calendar -->
      <div class="tab-pane" id="courseworksCalendar" role="tabpanel">
        <form id="courseworksForm" action="/dashboards/facultyMember/courseworks/{{faculty.id}}?_method=DELETE"
          method="post">
          <input type="hidden" name="_method" value="DELETE">

          <div class="table-responsive">
            <table id="d-cct-courseworksTable" class="table">
              <caption class="h5 py-0">Courseworks</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="sort-modules">Modules
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col" class="sort-dueDate">Due Date
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col">Edit</th>
                  <th scope="col">
                    <div class="custom-control custom-checkbox checkThemAll">
                      <input type="checkbox" class="custom-control-input" id="cwtfCheckAll">
                      <label class="custom-control-label" for="cwtfCheckAll"></label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each listTaughtModules}}
                {{#if courseworkDate}}
                <tr>
                  <th scope="row">{{courseworksAA}}</th>
                  <td class="module">
                    {{moduleName}}
                  </td>
                  <td id="dcctct-tableCell" class="dueDate">
                    {{courseworkDate}}
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-primary p-0" data-id={{moduleID}}>
                      <i class="fas fa-pencil-alt courseworkEdit"></i>
                    </button>
                  </td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="dcctct-{{taughtModuleID}}" class="custom-control-input" name="taughtModulesID"
                        value="{{taughtModuleID}}">
                      <label class="custom-control-label" for="dcctct-{{taughtModuleID}}"></label>
                    </div>
                  </td>
                </tr>
                {{/if}}
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <!-- Add Courseworks Button -->
            {{#if listTaughtModules}}
            <button type="button" id="d-cct-triggerModalAddCourseworksBtn" class="btn btn-success mr-2"
              data-toggle="modal" data-target="#addCourseworksModal">
              Add Courseworks
            </button>
            {{else}}
            <button type="button" id="UnableAddCourseworksBtn" class="btn btn-success mr-2" data-toggle="popover"
              data-trigger="focus" title="Attention" data-placement="bottom"
              data-content="There are no &ldquo;Taught Modules&rdquo;. Please add a &ldquo;Taught Module&rdquo; first.">
              Add Courseworks
            </button>
            {{/if}}
            <!-- Delete Courseworks Button -->
            <button type="submit" id="d-cct-deleteCourseworksBtn" class="btn btn-danger" data-trigger="true" disabled>
              Delete
            </button>
          </div>
        </form>
      </div>
      <!-- Exams Calendar -->
      <div class="tab-pane" id="examsCalendar" role="tabpanel" aria-labelledby="examsCalendar-tab">
        <div class="table-responsive">
          <table id="examsTbl" class="table">
            <caption class="h5 py-0">Exams</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Module</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Class</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <!-- Modules Grades                    -->
      <div class="tab-pane" id="modulesGrades" role="tabpanel" aria-labelledby="modulesGrades-tab">
        <div class="table-responsive">
          <table class="table">
            <caption class="h5 py-0">Grades</caption>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Module</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Statistics</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                    data-target="#editModuleMarksModal">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Computation</td>
                <td>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                    data-target="#editModuleMarksModal">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>