<div class="card">
  <div class="card-header bg-white">
    <h3 class="mb-0">Modules</h3>
    <small>
      Manage any module from the list
    </small>
  </div>
  {{> _formMsgsModules }}
  <div class="card-body">
    <!-- ======== Create/Delete Modules ======== -->
    <form action="/dashboards/facultyMember/modules/?_method=DELETE" method="post" id="modulesForm">

      <input type="hidden" name="_method" value="DELETE">

      <div class="table-responsive">
        <table id="modulesTable" class="table">
          <caption class="h5 py-0">Modules</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="sort-title">
                Title
                <i class="fas fa-angle-down"></i>
              </th>
              <th scope="col" class="sort-course">
                Course
                <i class="fas fa-angle-down"></i>
              </th>
              <th scope="col" class="sort-level">
                Level
                <i class="fas fa-angle-down"></i>
              </th>
              <th scope="col">Edit</th>
              <th scope="col">
                <div class="custom-control custom-checkbox checkThemAll">
                  <input type="checkbox" class="custom-control-input" id="modulesCheckAll">
                  <label class="custom-control-label" for="modulesCheckAll"></label>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each listModules}}
            <tr>
              <th scope="row">{{aa}}</th>
              <td class="title">
                {{name}}
              </td>
              <td class="course">
                {{course}}
              </td>
              <td class="level">
                {{degree}}
              </td>
              <td class="d-none">
                {{color}}
              </td>
              <td class="d-none">
                {{description}}
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-primary p-0" data-id={{id}} data-toggle="modal"
                  data-target="#editModuleModal">
                  <i class="fas fa-pencil-alt moduleEdit"></i>
                </button>
              </td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="{{id}}">
                  <label class="custom-control-label" for="{{id}}"></label>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <!-- Add Module Button -->
        <button type="button" id="createModuleBtn" class="btn btn-success mr-2" data-toggle="modal"
          data-target="#createModuleModal">
          Create Module
        </button>
        <!-- Trigger Delete Course Modal -->
        <button type="button" id="triggerDeleteModulesModalBtn" class="btn btn-danger" data-toggle="modal"
          data-target="#deleteModulesModal" disabled>
          Delete
        </button>
        <!-- Delete Course Button -->
        <button type="submit" id="deleteModuleBtn" class="btn btn-danger d-none">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>