<!-- MODULE SELECTION -->
<div class="card">
  <div class="card-header bg-white">
    <h3 class="mb-0">Modules</h3>
    <small>Below are listed the selected modules</small>
  </div>
  {{> _msgsStudentCardModulesSelection }}
  <div class="card-body">
    <form action="/dashboards/student/taughtModules/{{student.id}}/?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <div class="table-responsive">
        <table id="selectedModules" class="table">
          <caption class="h5 py-0">Modules</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="column--sort">
                Title
                <i class="fas fa-angle-down"></i>
              </th>
              <th scope="col" class="column--sort">
                Tutors
                <i class="fas fa-angle-down"></i>
              </th>
              <th scope="col">
                <div class="custom-control custom-checkbox check-column">
                  <input type="checkbox" class="custom-control-input" id="checkAll-{{student.id}}">
                  <label class="custom-control-label" for="checkAll-{{student.id}}"></label>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each studentSelectedModules}}
            <tr>
              <th scope="row">{{aa}}</th>
              <td class="title">
                {{moduleName}}
              </td>
              <td>{{facultyName}}</td>
              <td>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" id="selectedModule-{{taughtModuleID}}" class="custom-control-input check-row"
                    name="moduleIDs" value="{{taughtModuleID}}">
                  <label class="custom-control-label" for="selectedModule-{{taughtModuleID}}"></label>
                </div>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <!-- Add Modules Button -->
        <button type="button" id="triggerModuleSelectionModal" class="btn btn-success mr-2 triggerModal"
          data-toggle="modal" data-target="#addModules">
          Add Modules
        </button>
        <!-- Delete Taught Module Button -->
        <button type="submit" id="deleteTaughtModulesBtn" class="btn btn-danger btn--switch" disabled>
          Delete
        </button>
      </div>
    </form>
  </div>
</div>