<div class="card">
  <div class="card-header bg-white">
    <h3 class="mb-0">Profile</h3>
    <small class="">Add Information About Yourself</small>
  </div>
  {{> _formMsgsProfile }}
  <div class="card-body">
    <!-- ======== Profile Settings ======== -->
    <form action="/dashboards/student/profile/{{student.id}}?_method=PUT" method="post"
      enctype="multipart/form-data">
      <input type="hidden" name="_method" value="PUT">

      <!-- ==== BASICS ==== -->
      <h4>Basics</h4>
      <!-- Full Name & Phone Number-->
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fullName">Full Name</label>
          <div class="input-group input-group--white">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-label="Input a full name">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" name="fullName" id="fullName" class="form-control form-control-lg" placeholder=""
              maxlength="64" value="{{student.name}}" required />
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="phone">Phone</label>
          <div class="input-group input-group--white mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-label="Input a phone number">
                <i class="fas fa-phone"></i>
              </span>
            </div>
            <input type="tel" name="phone" id="phone" class="form-control form-control-lg"
              pattern="[0]{1}-[0-9]{4}-[0-9]{6}" aria-describedby="phoneHelp" value="{{student.phone}}" required />
          </div>
          <small id="phoneHelp" class="form-text text-muted">
            Format: 0-1234-567890
          </small>
        </div>
      </div>
      
      <!-- ==== PROFILE PHOTO ==== -->
      {{#if student.photo}}
      <!-- Delete Profile Photo-->
      <hr class="hr--y-wide">
      <div class="form-group">
        <div class="d-flex flex-row justify-content-center">
          <div>
            <img src="/img/users/{{student.photo}}"
              class="img-fluid avatar--pico avatar--rounded avatar--border-blue-thin mr-3" alt="Student member photo">
          </div>
          <div class="align-self-center">
            <div class="form-group mb-0">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="deletePhoto" name="deletePhoto">
                <label class="custom-control-label" for="deletePhoto">Delete profile photo</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <!-- Upload Profile Photo -->
      <div class="form-group">
        <label for="photo">Photo</label>
        <small><span class="text-danger">(Optional)</span></small>
        <!-- Custom File Input -->
        <div class="custom-file">
          <input type="file" name="photo" id="photo" class="custom-file-input">
          <label class="custom-file-label" for="photo">Choose your profile image</label>
          <small class="form-text text-muted" id="fileHelp">Max 3mb size image file</small>
        </div>
      </div>
      {{/if}}

      <hr class="hr--y-wide">

      <!-- ==== BIO ==== -->
      <h4 id="bio-label">Bio</h4>
      <div class="form-group">
        <small>Write a few words about youself</small>
        <textarea id="studentBio" name="bio" class="form-control" aria-labelledby="bio-label" required>
                      {{student.bio}} 
                    </textarea>
      </div>
      
      <hr class="hr--y-wide">

      <!-- ==== SOCIAL MEDIA ==== -->
      <h4>Social Media <small><span class="text-danger">(Optional)</span></small></h4>
      <!-- Facebook -->
      <div class="form-group">
        <label for="facebook">Facebook Profile</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="d-sm-none" aria-label="Input your Facebook username">
                <i class="fab fa-facebook-f"></i>
              </span>
              <span class="d-none d-sm-block">
                http://www.facebook.com/
              </span>
            </span>
          </div>
          <input type="text" name="facebook" id="facebook" class="form-control form-control-lg"
            aria-describedby="facebookHelp" value="{{student.facebook}}" />
        </div>
        <small id="facebookHelp" class="form-text text-muted">
          Input your Facebook username (e.g. johndoe).
        </small>
      </div>
      <!-- Twitter -->
      <div class="form-group">
        <label for="twitter">Twitter Profile</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="d-sm-none" aria-label="Input your Twitter username">
                <i class="fab fa-twitter"></i>
              </span>
              <span class="d-none d-sm-block">
                http://twitter.com/
              </span>
            </span>
          </div>
          <input type="text" name="twitter" id="twitter" class="form-control form-control-lg"
            aria-describedby="twitterHelp" value="{{student.twitter}}" />
        </div>
        <small id="twitterHelp" class="form-text text-muted">
          Add your Twitter username (e.g. johndoe).
        </small>
      </div>
      <!-- Linkedin -->
      <div class="form-group">
        <label for="linkedin">Linkedin Profile</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="d-sm-none" aria-label="Input your Linkedin username">
                <i class="fab fa-linkedin-in"></i>
              </span>
              <span class="d-none d-sm-block">
                http://www.linkedin.com/
              </span>
            </span>
          </div>
          <input type="text" name="linkedin" id="linkedin" class="form-control form-control-lg"
            aria-describedby="linkedinHelp" value="{{student.linkedin}}" />
        </div>
        <small id="linkedinHelp" class="form-text text-muted mb-3">
          Input your LinkedIn resource id (e.g. in/johndoe).
        </small>
      </div>
      <!-- Save Button -->
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success" aria-label="Save Profile">
          Save
        </button>
      </div>
    </form>
  </div>
</div>