{{!-- ======== Dashboard ======== --}}

<!-- Add Taught Module -->
<div id="addTaughtModuleModal" class="modal fade modal--default" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Add Modules</h3>
          <small>Select any module from the list in order to be added into "Taught Modules" list"</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="post">
          <div class="table-responsive">
            <table id="modulesTableModal" class="table">
              <caption class="h5 py-0">Modules</caption>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="sort-title">
                    Title
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col" class="sort-course">
                    Course
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col" class="sort-level">
                    Level
                    <i class="fas fa-angle-down"></i>
                  </th>
                  <th scope="col">
                    <div class="custom-control custom-checkbox checkThemAll">
                      <input type="checkbox" class="custom-control-input" id="mtmCheckAll">
                      <label class="custom-control-label" for="mtmCheckAll"></label>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each listModules}}
                <tr>
                  <th scope="row">{{aa}}</th>
                  <td class="title">
                    {{name}}
                  </td>
                  <td class="course">
                    {{course}}
                  </td>
                  <td class="level">
                    {{degree}}
                  </td>
                  <td class="d-none">
                    {{color}}
                  </td>
                  <td class="d-none">
                    {{description}}
                  </td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="mtm-{{id}}">
                      <label class="custom-control-label" for="mtm-{{id}}"></label>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <!-- Add Taught Module Button -->
            <button type="submit" id="addTaughtModuleBtn" class="btn btn-success mr-2" data-trigger="true" disabled>
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{{!-- ======== Courses ======== --}}
<!-- Edit Course -->
<div id="editCourseModal" class="modal fade modal--default" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Edit Course</h3>
          <small>Update any of the course's element</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- action is getting from event.js --}}
        <form action="" method="post">
          <input type="hidden" name="_method" value="PUT">

          <!-- ---- Course Name ---- -->
          <h2></h2>
          <div class="form-group">
            <label for="editCourseName">Course Name</label>
            <div class="input-group input-group--white">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-label="Input a course name">
                  <i class="fas fa-award"></i>
                </span>
              </div>
              <input type="text" name="name" id="editCourseName" class="form-control form-control-lg" maxlength="64"
                required>
            </div>
          </div>
          <!-- ---- Academic Degree & Color ---- -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="editCourseLevel">Academic Degree</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    aria-label="Select a course academic degree for example 'Bachelor's degree' or 'Master's degree">
                    <i class="fas fa-certificate"></i>
                  </span>
                </div>
                <select name="degree" id="editCourseLevel" class="custom-select custom-select-lg" required>
                  <option disabled="" selected="">Choose ...</option>
                  <option value="Bachelor">Bachelor</option>
                  <option value="Master">Master</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="editCourseColor">Color</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-label="Select a course color">
                    <i class="fas fa-palette"></i>
                  </span>
                </div>
                <input type="color" name="color" id="editCourseColor" class="form-control form-control-lg" required>
              </div>
            </div>
          </div>
          <!-- ---- Description ---- -->
          <div class="form-group">
            <label for="editCourseDescription">Description</label>
            {{!-- <small>Write a few words about youself</small> --}}
            <textarea id="editCourseDescription" name="description" class="form-control" required>
                      </textarea>
          </div>

          <!-- ---- Save Button ---- -->
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Create Course -->
<div id="createCourseModal" class="modal fade modal--default" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Course Info</h3>
          <small>Create a new course</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/dashboards/facultyMember/courses/" method="post">
          <!-- ---- Course Name ---- -->
          <h2></h2>
          <div class="form-group">
            <label for="createCourseName">Course Name</label>
            <div class="input-group input-group--white">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-label="Input a course name">
                  <i class="fas fa-award"></i>
                </span>
              </div>
              <input type="text" name="name" id="createCourseName" class="form-control form-control-lg" maxlength="64"
                required>
            </div>
          </div>
          <!-- ---- Academic Degree & Color ---- -->
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="createCourseLevel">Academic Degree</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    aria-label="Select a course academic degree for example 'Bachelor's degree' or 'Master's degree">
                    <i class="fas fa-certificate"></i>
                  </span>
                </div>
                <select name="degree" id="createCourseLevel" class="custom-select custom-select-lg" required>
                  <option disabled="" selected="">Choose ...</option>
                  <option value="Bachelor">Bachelor</option>
                  <option value="Master">Master</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="createCourseColor">Color</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-label="Select a course color">
                    <i class="fas fa-palette"></i>
                  </span>
                </div>
                <input type="color" name="color" id="createCourseColor" class="form-control form-control-lg"
                  value="#343a40" required>
              </div>
            </div>
          </div>
          <!-- ---- Description ---- -->
          <div class="form-group">
            <label for="createCourseDescription">Description</label>
            {{!-- <small>Write a few words about youself</small> --}}
            <textarea id="createCourseDescription" name="description" class="form-control" required>
                      </textarea>
          </div>

          <!-- ---- Create Button ---- -->
          <div class="d-flex justify-content-end">
            <button type="submit" id="saveCourseBtn" class="btn btn-success">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Courses  -->
<div id="deleteCoursesModal" class="modal fade modal--default" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Delete Courses</h3>
          <small>Delete the courses that are checked</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          If you delete a course, related modules with that course and information about the modules like
          "exams", "grades", " courseworks" e.t.c. will be deleted as well. Are you sure to proceed?
        </p>
      </div>
      <div class="modal-footer">
        <button id="cancelDeleteCoursesModalBtn" type="button" class="btn btn-secondary"
          data-dismiss="modal">No</button>
        <button id="deleteCoursesModalBtn" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>

{{!-- ======== Modules ======== --}}
<!-- Edit Module -->
<div id="editModuleModal" class="modal fade modal--default" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Edit Module</h3>
          <small>Update any of the module's element</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- action is getting from event.js --}}
        <form action="" method="post">
          <input type="hidden" name="_method" value="PUT">

          <!-- ---- Module Name ---- -->
          <div class="form-group">
            <label for="editModuleName">Module Name</label>
            <div class="input-group input-group--white">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-label="Input a module name">
                  <i class="fas fa-book"></i>
                </span>
              </div>
              <input type="text" name="name" id="editModuleName" class="form-control form-control-lg" maxlength="64"
                required />
            </div>
          </div>
          <!-- ---- Course Name & Color ---- -->
          <div class="form-row">
            <!-- Course Name -->
            <div class="form-group col-md-6">
              <label for="editModuleCourseName">Course Name</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-label="Input a course name">
                    <i class="fas fa-award"></i>
                  </span>
                </div>
                <select name="courseID" id="editModuleCourseName" class="custom-select custom-select-lg" required>
                  <option disabled selected="">Choose ...</option>
                  {{#each listCourses}}
                  <option value="{{id}}">{{name}}-{{degree}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="editModuleColor">Color</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-label="Select a course color">
                    <i class="fas fa-palette"></i>
                  </span>
                </div>
                <input type="color" name="color" id="editModuleColor" class="form-control form-control-lg"
                  value="#343a40" required>
              </div>
            </div>
          </div>
          <!-- ---- Description ---- -->
          <div class="form-group">
            <label for="editModuleDescription">Description</label>
            {{!-- <small>Write a few words about youself</small> --}}
            <textarea id="editModuleDescription" name="description" class="form-control" required></textarea>
          </div>

          <!-- ---- Save Button ---- -->
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Create Module -->
<div id="createModuleModal" class="modal fade modal--default" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Module Info</h3>
          <small>Create a new module</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/dashboards/facultyMember/modules/" method="post">
          <!-- ---- Module Name ---- -->
          <div class="form-group">
            <label for="createModuleName">Module Name</label>
            <div class="input-group input-group--white">
              <div class="input-group-prepend">
                <span class="input-group-text" aria-label="Input a module name">
                  <i class="fas fa-book"></i>
                </span>
              </div>
              <input type="text" name="name" id="createModuleName" class="form-control form-control-lg" maxlength="64"
                required />
            </div>
          </div>
          <!-- ---- Course Name & Color ---- -->
          <div class="form-row">
            <!-- Course Name -->
            <div class="form-group col-md-6">
              <label for="createModuleCourseName">Course Name</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-label="Input a course name">
                    <i class="fas fa-award"></i>
                  </span>
                </div>
                <select name="courseID" id="createModuleCourseName" class="custom-select custom-select-lg" required>
                  <option disabled selected="">Choose ...</option>
                  {{#each listCourses}}
                  <option value="{{id}}">{{name}}-{{degree}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="createCourseColor">Color</label>
              <div class="input-group input-group--white">
                <div class="input-group-prepend">
                  <span class="input-group-text" aria-label="Select a course color">
                    <i class="fas fa-palette"></i>
                  </span>
                </div>
                <input type="color" name="color" id="createCourseColor" class="form-control form-control-lg"
                  value="#343a40" required>
              </div>
            </div>
          </div>
          <!-- ---- Description ---- -->
          <div class="form-group">
            <label for="createModuleDescription">Description</label>
            {{!-- <small>Write a few words about youself</small> --}}
            <textarea id="createModuleDescription" name="description" class="form-control" required></textarea>
          </div>

          <!-- ---- Create Button ---- -->
          <div id="saveModuleBtn" class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success">
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modules  -->
<div id="deleteModulesModal" class="modal fade modal--default" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex align-items-center">
        <div class="flex-column">
          <h3 class="mb-0">Delete Modules</h3>
          <small>Delete the modules that are checked</small>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          If you delete a module, related info with that module like
          "courseworks", "grades" e.t.c. will be deleted as well. Are you sure to proceed?
        </p>
      </div>
      <div class="modal-footer">
        <button id="cancelDeleteModulesModalBtn" type="button" class="btn btn-secondary"
          data-dismiss="modal">No</button>
        <button id="deleteModulesModalBtn" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>