<!-- ======== HEADER ======== -->
<header id="main-header" class="profile-header py-4 bg-dark text-light">
  <div class="container">
    <!-- ---- HORIZONTAL CARD ---- -->
    <div class="card text-center bg-dark text-light border-0 card-profile-heading">
      <div class="row">
        <!-- Avatar -->
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          {{#if faculty.photo}}
          <img src="/img/facultyMembers/{{faculty.photo}}"
            class="img-fluid avatar--medium avatar--rounded avatar--border-blue" alt="Faculty member photo">
          {{else}}
          <i class="fas fa-user icon-user"></i>
          {{/if}}
        </div>
        <!-- Body -->
        <div class="col-md-8 pl-lg-0 d-flex align-items-center">
          <div class="card-body">
            <h3 class="card-title text-md-left">{{faculty.name}}</h3>
            <h4 class="card-subtitle mb-3 text-md-left">Department Head</h4>
            <h5 class="card-details text-md-left">School of Mathematical Sciences</h5>
            <h5 class="card-details text-md-left">{{faculty.academicRank}}</h5>
            <!-- Social Media -->
            <div class="d-flex justify-content-center justify-content-md-start card-social-media my-4">
              <!-- ==== Disable/enable social media icons ==== -->
              {{#if faculty.facebook}}
              <span class="mr-5">
                <a href="http://www.facebook.com/{{faculty.facebook}}" class="text-light">
                  <i class="fab fa-facebook-f" style="padding-right: .25rem;"></i>
                </a>
              </span>
              {{else}}
              <span class="mr-5">
                <i class="fab fa-facebook-f" style="padding-right: .25rem;"></i>
              </span>
              <script>
                disableElement('.card-social-media .fa-facebook-f');
              </script>
              {{/if}}
              {{#if faculty.twitter}}
              <span class="mr-5">
                <a href="http://twitter.com/{{faculty.twitter}}" class="text-light">
                  <i class="fab fa-twitter" style="padding-right: .25rem;"></i>
                </a>
              </span>
              {{else}}
              <span class="mr-5">
                <i class="fab fa-twitter" style="padding-right: .25rem;"></i>
              </span>
              <script>
                disableElement('.card-social-media .fa-twitter');
              </script>
              {{/if}}
              {{#if faculty.linkedin}}
              <span>
                <a href="http://www.linkedin.com/{{faculty.linkedin}}" class="text-light">
                  <i class="fab fa-linkedin-in" style="padding-right: .25rem;"></i>
                </a>
              </span>
              {{else}}
              <span>
                <i class="fab fa-linkedin-in" style="padding-right: .25rem;"></i>
              </span>
              <script>
                disableElement('.card-social-media .fa-linkedin-in');
              </script>
              {{/if}}
            </div>
            <!-- Email - Tel - Office-->
            <div class="d-flex justify-content-center justify-content-md-start">
              <small class="mr-5  card-email">
                <i class="far fa-envelope " data-toggle="tooltip" data-placement="top" title="email"></i>
                <span class="d-none d-lg-inline">{{faculty.email}}</span>
              </small>
              <small class="mr-5  card-tel">
                <i class="fas fa-phone" data-toggle="tooltip" data-placement="top" title="phone"></i>
                <span class="d-none d-lg-inline">{{faculty.phone}}</span>
              </small>
              <small class="card-office">
                <i class="far fa-building" data-toggle="tooltip" data-placement="top" title="Office Number"></i>
                <span class="d-none d-lg-inline">{{faculty.officeNumber}}</span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ======== BODY ======== -->
<section id="facultyDashboard">
  <div class="container py-5 bg-white">
    <div class="row">
      <!-- ---- NAVIGATION LIST ---- -->
      <div class="col-12 col-lg-4 mb-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="account-list" data-toggle="list" href="#account"
            role="tab" aria-controls="account">Account</a>
          <a class="list-group-item list-group-item-action" id="profile-list" data-toggle="list" href="#profile"
            role="tab" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="dashboard-list" data-toggle="list" href="#dashboard"
            role="tab" aria-controls="dashboard">Dashboard</a>
          <a class="list-group-item list-group-item-action" id="course-list" data-toggle="list" href="#courses"
            role="tab" aria-controls="courses">Courses</a>
          <a class="list-group-item list-group-item-action" id="module-list" data-toggle="list" href="#modules"
            role="tab" aria-controls="modules">Modules</a>
        </div>
        {{!-- {{> _msg}} --}}
      </div>
      <!-- ---- WORK AREA ---- -->
      <div class="col-12 col-lg-8 pl-lg-0 mb-3">
        <div class="tab-content" id="nav-tabContent">
          <!-- Account Settings-->
          <div class="tab-pane active" id="account" role="tabpanel" aria-labelledby="account-list">
            {{> _cardAccountFaculty}}
          </div>
          <!-- Profile Settings-->
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-list">
            {{> _cardProfileFaculty}}
          </div>
          <!-- Dashboard-->
          <div class="tab-pane" id="dashboard" role="tabpanel" aria-labelledby="dashboard-list">
            {{> _cardDashboardFaculty}}
          </div>
          <!-- Courses Settings-->
          <div class="tab-pane" id="courses" role="tabpanel" aria-labelledby="course-list">
            {{> _cardCoursesFaculty}}
          </div>
          <!-- Modules Settings-->
          <div class="tab-pane" id="modules" role="tabpanel" aria-labelledby="module-list">
            {{> _cardModulesFaculty}}
          </div>
        </div>

        {{!-- ======== Modals ======== --}}
        {{> _modals}}

      </div>
    </div>
</section>

<!-- Client Events -->
<script>App.init()</script>