{{!==== Load the "Profile" tab when click "Save" profile ====}}
{{!---- In case of form fields error ----}}
{{#equal error_msg 'One or more of the fields "Full Name, Academic Rank, Phone, Office, Bio" are empty. Please fill in the fields where missing.' }}
{{!-- Load Profile Form --}}
<script>profileClick()</script>
{{/equal}}

{{!---- In case of error uploading photo ----}}
{{#equal error_msg 'Error uploading photo: File too large'  }}
{{!-- Load Profile Form --}}
<script>profileClick()</script>
{{/equal}}

{{#equal error_msg 'Error: Only image files are allowed to upload'  }}
{{!-- Load Profile Form --}}
<script>profileClick()</script>
{{/equal}}

{{!---- In case of success ----}}
{{#equal success_msg 'Profile updated.' }}
{{!-- Load Profile Form --}}
<script>profileClick()</script>
{{/equal}}


{{!==== Load the "Courses" management form ====}}
{{!---- when click "Save Changes" at "Edit Course" form  ----}}
{{#equal error_msg 'Fail to update. There is another "Course" with the same "name" and "degree". Click the edit button again to retry.' }}
{{!-- Load "Courses" form --}}
<script>coursesClick()</script>
{{/equal}}

{{#equal error_msg 'Fail to update. The there are not any changes. Click the edit button again to retry.' }}
{{!-- Load "Courses" form --}}
<script>coursesClick()</script>
{{/equal}}

{{!---- In case of success ----}}
{{#equal success_msg 'Course has been updated.' }}
{{!-- Load Profile Form --}}
<script>coursesClick()</script>
{{/equal}}

{{!==== Load the "Course" tab when click "Create Course" ====}}
{{!---- In case of form fields error ----}}
{{#equal error_msg "One or more of the form's fields are empty. Please fill in the form fields where missing." }}
{{!-- Load Profile Form --}}
<script>coursesClick()</script>
{{/equal}}

{{!---- In case of course already exist ----}}
{{#equal error_msg "Course already exist." }}
{{!-- Load Profile Form --}}
<script>coursesClick()</script>
{{/equal}}

{{!---- In case of course name is missing ----}}
{{#equal error_msg '"Course name" is missing. Please enter course name."' }}
{{!-- Load Profile Form --}}
<script>coursesClick()</script>
{{/equal}}

{{!---- In case of success ----}}
{{#equal success_msg 'New course added.' }}
{{!-- Load Profile Form --}}
<script>coursesClick()</script>
{{/equal}}


{{!==== Load the "Module" tab when click "Create Module" ====}}
{{!---- In case of form fields error ----}}
{{#equal error_msg '"Module Name" or "Course Name" are missing. Please fill in the form fields where missing.' }}
{{!-- Load Profile Form --}}
<script>modulesClick()</script>
{{/equal}}

{{!---- In case of module already exist ----}}
{{#equal error_msg "Module already exist." }}
{{!-- Load Profile Form --}}
<script>modulesClick()</script>
{{/equal}}


<!-- ======== HEADER ======== -->
<header id="main-header" class="profile-header py-4 bg-dark text-light">
  <div class="container">
    <!-- ---- HORIZONTAL CARD ---- -->
    <div class="card text-center bg-dark text-light border-0 card-profile-heading">
      <div class="row">
        <!-- Avatar -->
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          {{#if faculty.photo}}
          <img src="/img/facultyMembers/{{faculty.photo}}"
            class="img-fluid avatar--medium avatar--rounded avatar--border-blue" alt="Faculty member photo">
          {{else}}
          <i class="fas fa-user icon-user"></i>
          {{/if}}
        </div>
        <!-- Body -->
        <div class="col-md-8 pl-lg-0 d-flex align-items-center">
          <div class="card-body">
            <h3 class="card-title text-md-left">{{faculty.name}}</h3>
            <h4 class="card-subtitle mb-3 text-md-left">Department Head</h4>
            <h5 class="card-details text-md-left">School of Mathematical Sciences</h5>
            <h5 class="card-details text-md-left">{{faculty.academicRank}}</h5>
            <!-- Social Media -->
            <div class="d-flex justify-content-center justify-content-md-start card-social-media my-4">
              <!-- ==== Disable/enable social media icons ==== -->
              {{#if faculty.facebook}}
              <span class="mr-5">
                <a href="http://www.facebook.com/{{faculty.facebook}}" class="text-light">
                  <i class="fab fa-facebook-f" style="padding-right: .25rem;"></i>
                </a>
              </span>
              {{else}}
              <span class="mr-5">
                <i class="fab fa-facebook-f" style="padding-right: .25rem;"></i>
              </span>
              <script>
                disableElement('.card-social-media .fa-facebook-f');
              </script>
              {{/if}}
              {{#if faculty.twitter}}
              <span class="mr-5">
                <a href="http://twitter.com/{{faculty.twitter}}" class="text-light">
                  <i class="fab fa-twitter" style="padding-right: .25rem;"></i>
                </a>
              </span>
              {{else}}
              <span class="mr-5">
                <i class="fab fa-twitter" style="padding-right: .25rem;"></i>
              </span>
              <script>
                disableElement('.card-social-media .fa-twitter');
              </script>
              {{/if}}
              {{#if faculty.linkedin}}
              <span>
                <a href="http://www.linkedin.com/{{faculty.linkedin}}" class="text-light">
                  <i class="fab fa-linkedin-in" style="padding-right: .25rem;"></i>
                </a>
              </span>
              {{else}}
              <span>
                <i class="fab fa-linkedin-in" style="padding-right: .25rem;"></i>
              </span>
              <script>
                disableElement('.card-social-media .fa-linkedin-in');
              </script>
              {{/if}}
            </div>
            <!-- Email - Tel - Office-->
            <div class="d-flex justify-content-center justify-content-md-start">
              <small class="mr-5  card-email">
                <i class="far fa-envelope " data-toggle="tooltip" data-placement="top" title="email"></i>
                <span class="d-none d-lg-inline">{{faculty.email}}</span>
              </small>
              <small class="mr-5  card-tel">
                <i class="fas fa-phone" data-toggle="tooltip" data-placement="top" title="phone"></i>
                <span class="d-none d-lg-inline">{{faculty.phone}}</span>
              </small>
              <small class="card-office">
                <i class="far fa-building" data-toggle="tooltip" data-placement="top" title="Office Number"></i>
                <span class="d-none d-lg-inline">{{faculty.officeNumber}}</span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ======== BODY ======== -->
<section id="facultyDashboard">
  <div class="container py-5 bg-white">
    <div class="row">
      <!-- ---- NAVIGATION LIST ---- -->
      <div class="col-12 col-lg-4 mb-3">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="account-list" data-toggle="list" href="#account"
            role="tab" aria-controls="account">Account</a>
          <a class="list-group-item list-group-item-action" id="profile-list" data-toggle="list" href="#profile"
            role="tab" aria-controls="profile">Profile</a>
          <a class="list-group-item list-group-item-action" id="dashboard-list" data-toggle="list" href="#dashboard"
            role="tab" aria-controls="dashboard">Dashboard</a>
          <a class="list-group-item list-group-item-action" id="course-list" data-toggle="list" href="#courses"
            role="tab" aria-controls="courses">Courses</a>
          <a class="list-group-item list-group-item-action" id="module-list" data-toggle="list" href="#modules"
            role="tab" aria-controls="modules">Modules</a>
        </div>
        {{> _msg}}
      </div>
      <!-- ---- WORK AREA ---- -->
      <div class="col-12 col-lg-8 pl-lg-0 mb-3">
        <div class="tab-content" id="nav-tabContent">
          <!-- Account Settings-->
          <div class="tab-pane active" id="account" role="tabpanel" aria-labelledby="account-list">
            <div class="card">
              <div class="card-header bg-white">
                <h3 class="mb-0">Account Info</h3>
                <small class="">
                  Edit your account settings and change your password here
                </small>
              </div>
              <div class="card-body">
                <!-- ======== Change Email ======== -->
                <form action="/dashboards/facultyMember/email/{{faculty.id}}?_method=PUT" method="post">
                  <input type="hidden" name="_method" value="PUT">
                  <!-- Email -->
                  <div class="form-group mb-4">
                    <label for="email">Email</label>
                    <div class="input-group input-group--white">
                      <div class="input-group-prepend">
                        <span id="addonEmail" class="input-group-text">
                          <i class="fas fa-envelope"></i>
                        </span>
                      </div>
                      <input type="email" name="email" id="email" class="form-control form-control-lg"
                        placeholder="{{faculty.email}}" maxlength="64" minlength="7" required="" aria-label="Email"
                        aria-describedby="addonEmail" />
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-success button--border-grey-light">
                          <i class="fas fa-save"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- ======== Change Password ======== -->
                <form action="/dashboards/facultyMember/password/{{faculty.id}}?_method=PUT" method="post">
                  <input type="hidden" name="_method" value="PUT">
                  <hr>
                  <h4 class="mb-0">Password</h4>
                  <small class="form-text text-muted mb-3">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters, or emoji.
                  </small>
                  <!-- Current Password -->
                  <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <div class="input-group input-group--white">
                      <div class="input-group-prepend">
                        <span id="addonCurrentPassword" class="input-group-text">
                          <i class="fas fa-lock"></i>
                        </span>
                      </div>
                      <input type="password" name="password" id="currentPassword" class="form-control form-control-lg"
                        placeholder="" maxlength="64" minlength="4" aria-label="Current Password"
                        aria-describedby="addonCurrentPassword" required />
                    </div>
                  </div>
                  <!-- New Password -->
                  <div class="form-group">
                    <label for="newPassword">Enter New Password</label>
                    <div class="input-group input-group--white">
                      <div class="input-group-prepend">
                        <span id="addonNewPassword" class="input-group-text">
                          <i class="fas fa-lock"></i>
                        </span>
                      </div>
                      <input type="password" name="password1" id="newPassword" class="form-control form-control-lg"
                        placeholder="" maxlength="64" minlength="4" aria-label="Enter New Password"
                        aria-describedby="addonNewPassword" required />
                    </div>
                  </div>
                  <!-- Confirm New Password -->
                  <div class="form-group">
                    <label for="confirmPassword">Re-type New Password</label>
                    <div class="input-group input-group--white">
                      <div class="input-group-prepend">
                        <span id="addonConfirmPassword" class="input-group-text">
                          <i class="fas fa-lock"></i>
                        </span>
                      </div>
                      <input type="password" name="password2" id="confirmPassword" class="form-control form-control-lg"
                        placeholder="" maxlength="64" minlength="4" aria-label="Re-type New Password"
                        aria-describedby="addonConfirmPassword" required />
                    </div>
                  </div>
                  <!-- Save button -->
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                      Change Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Profile Settings-->
          <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-list">
            <div class="card">
              <div class="card-header bg-white">
                <h3 class="mb-0">Profile</h3>
                <small class="">Add Information About Yourself</small>
              </div>
              <div class="card-body">
                <!-- ======== Change Profile ======== -->
                <form action="/dashboards/facultyMember/profile/{{faculty.id}}?_method=PUT" method="post"
                  enctype="multipart/form-data">
                  <input type="hidden" name="_method" value="PUT">

                  <!-- ==== BASICS ==== -->
                  <h4>Basics</h4>
                  <!-- Full Name & Academic Rank-->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="fullName">Full Name</label>
                      <div class="input-group input-group--white">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Input a full name">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="text" name="fullName" id="fullName" class="form-control form-control-lg"
                          placeholder="" maxlength="64" value="{{faculty.name}}" required />
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="academicRank">Academic Rank</label>
                      <div class="input-group input-group--white">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Input an academic rank">
                            <i class="fas fa-graduation-cap"></i>
                          </span>
                        </div>
                        <select name="academicRank" id="academicRank" class="custom-select custom-select-lg" required>
                          <option selected>{{faculty.academicRank}}</option>
                          <option value="Professor">Professor</option>
                          <option value="Principal Teaching Fellow">Principal Teaching Fellow</option>
                          <option value="Senior Lecturer">Senior Lecturer</option>
                          <option value="Lecturer">Lecturer</option>
                          <option value="Teaching associate">Teaching associate</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- Phone & Office Number-->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="phone">Phone</label>
                      <div class="input-group input-group--white mb-1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Input a phone number">
                            <i class="fas fa-phone"></i>
                          </span>
                        </div>
                        <input type="tel" name="phone" id="phone" class="form-control form-control-lg"
                          pattern="[0]{1}-[0-9]{4}-[0-9]{6}" aria-describedby="phoneHelp" value="{{faculty.phone}}"
                          required />
                      </div>
                      <small id="phoneHelp" class="form-text text-muted">
                        Format: 0-1234-567890
                      </small>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="office">Office</label>
                      <div class="input-group input-group--white mb-1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Input an office number">
                            <i class="fas fa-building"></i>
                          </span>
                        </div>
                        <input type="text" name="officeNumber" id="office" class="form-control form-control-lg"
                          pattern="[A-Z]{2}[0-9]{2}[A-Z]{1}" aria-describedby="officeNumHelp"
                          value="{{faculty.officeNumber}}" required />
                      </div>
                      <small id="officeNumHelp" class="form-text text-muted">
                        Format: AB12D
                      </small>
                    </div>
                  </div>

                  <!-- ==== PROFILE PHOTO ==== -->
                  {{#if faculty.photo}}
                  <!-- Delete Profile Photo-->
                  <hr class="hr--y-wide">
                  <div class="form-group">
                    <div class="d-flex flex-row justify-content-center">
                      <div>
                        <img src="/img/facultyMembers/{{faculty.photo}}"
                          class="img-fluid avatar--pico avatar--rounded avatar--border-blue-thin mr-3"
                          alt="Faculty member photo">
                      </div>
                      <div class="align-self-center">
                        <div class="form-group mb-0">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="deletePhoto" name="deletePhoto">
                            <label class="custom-control-label" for="deletePhoto">Delete profile photo</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  {{!-- <img src="/img/facultyMembers/{{faculty.photo}}"
                    class="img-fluid avatar--pico avatar--rounded avatar--border-blue" alt="Faculty member photo">
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="deletePhoto">
                    <label class="form-check-label" for="deletePhoto">Delete profile photo</label>
                  </div> --}}

                  {{else}}
                  <!-- Upload Profile Photo -->
                  <div class="form-group">
                    <label for="photo">Photo</label>
                    <small><span class="text-danger">(Optional)</span></small>
                    <!-- Custom File Input -->
                    <div class="custom-file">
                      <input type="file" name="photo" id="photo" class="custom-file-input">
                      <label class="custom-file-label" for="photo">Choose your profile image</label>
                      <small class="form-text text-muted" id="fileHelp">Max 3mb size image file</small>
                    </div>
                  </div>
                  {{/if}}
                  <hr class="hr--y-wide">

                  <!-- ==== BIO ==== -->
                  <h4 id="bio-label">Bio</h4>
                  <div class="form-group">
                    <small>Write a few words about youself</small>
                    <textarea id="bio" name="bio" class="form-control" aria-labelledby="bio-label" required>
                      {{faculty.bio}} 
                    </textarea>
                  </div>
                  <hr class="hr--y-wide">

                  <!-- ==== SOCIAL MEDIA ==== -->
                  <h4>Social Media <small><span class="text-danger">(Optional)</span></small></h4>
                  <!-- Facebook -->
                  <div class="form-group">
                    <label for="facebook">Facebook Profile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <span class="d-sm-none" aria-label="Input your Facebook username">
                            <i class="fab fa-facebook-f"></i>
                          </span>
                          <span class="d-none d-sm-block">
                            http://www.facebook.com/
                          </span>
                        </span>
                      </div>
                      <input type="text" name="facebook" id="facebook" class="form-control form-control-lg"
                        aria-describedby="facebookHelp" value="{{faculty.facebook}}" />
                    </div>
                    <small id="facebookHelp" class="form-text text-muted">
                      Input your Facebook username (e.g. johndoe).
                    </small>
                  </div>
                  <!-- Twitter -->
                  <div class="form-group">
                    <label for="twitter">Twitter Profile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <span class="d-sm-none" aria-label="Input your Twitter username">
                            <i class="fab fa-twitter"></i>
                          </span>
                          <span class="d-none d-sm-block">
                            http://twitter.com/
                          </span>
                        </span>
                      </div>
                      <input type="text" name="twitter" id="twitter" class="form-control form-control-lg"
                        aria-describedby="twitterHelp" value="{{faculty.twitter}}" />
                    </div>
                    <small id="twitterHelp" class="form-text text-muted">
                      Add your Twitter username (e.g. johndoe).
                    </small>
                  </div>
                  <!-- Linkedin -->
                  <div class="form-group">
                    <label for="linkedin">Linkedin Profile</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <span class="d-sm-none" aria-label="Input your Linkedin username">
                            <i class="fab fa-linkedin-in"></i>
                          </span>
                          <span class="d-none d-sm-block">
                            http://www.linkedin.com/
                          </span>
                        </span>
                      </div>
                      <input type="text" name="linkedin" id="linkedin" class="form-control form-control-lg"
                        aria-describedby="linkedinHelp" value="{{faculty.linkedin}}" />
                    </div>
                    <small id="linkedinHelp" class="form-text text-muted mb-3">
                      Input your LinkedIn resource id (e.g. in/johndoe).
                    </small>
                  </div>
                  <!-- Save Button -->
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                      Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Dashboard-->
          <div class="tab-pane" id="dashboard" role="tabpanel" aria-labelledby="dashboard-list">
            <div class="card">
              <div class="card-header bg-white">
                <ul class="nav nav-tabs card-header-tabs nav-fill" id="card-header__dashboardTabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" href="#taughtModules" role="tab" aria-controls="taughtModules"
                      aria-selected="true">
                      <h4 class="card-title mb-0">Modules</h4>
                      <small>List</small>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#courseworksCalendar" role="tab" aria-controls="courseworksCalendar"
                      aria-selected="false">
                      <h4 class="card-text mb-0">Courseworks</h4>
                      <small>Calendar</small>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#examsCalendar" role="tab" aria-controls="examsCalendar"
                      aria-selected="false">
                      <h4 class="card-text mb-0">Exams</h4>
                      <small>Calendar</small>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#modulesGrades" role="tab" aria-controls="modulesGrades"
                      aria-selected="false">
                      <h4 class="card-text mb-0">Modules</h4>
                      <small>Grades</small>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content mt-3">
                  <!-- Module List -->
                  <div class="tab-pane active" id="taughtModules" role="tabpanel">
                    <div class="table-responsive">
                      <table class="table">
                        <caption class="h5 py-0">Taught Modules</caption>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Modules</th>
                            <th scope="col">Courses</th>
                            <th scope="col">Level</th>
                            <th scope="col">
                              <div class="custom-control custom-checkbox checkThemAll">
                                <input type="checkbox" class="custom-control-input" id="tmCheckAll">
                                <label class="custom-control-label" for="tmCheckAll"></label>
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>

                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                      {{!-- {{#if courses}}
                      <!-- Create Module Button -->
                      <button id="createModulesBtn" type="button" class="btn btn-success mr-2" data-toggle="modal"
                        data-target="#createModulesModal">
                        Create Module
                      </button>
                      {{else}}
                      <!-- Create Module Popover Button -->
                      <button id="createModulesBtn" type="button" class="btn btn-success mr-2" data-toggle="popover"
                        data-trigger="focus" title="Attention" data-placement="bottom"
                        data-content="There are no Courses. Please create a Course first.">
                        Create Module
                      </button>
                      {{/if}} --}}
                      <!-- Add Module Button -->
                      <button id="addModuleCollapseBtn" type="button" class="btn btn-primary mr-2"
                        data-toggle="collapse" data-target="#addModulesCollapse">
                        Add Module
                      </button>
                      <!-- Delete Module Button -->
                      <button id="deleteModules" type="button" class="btn btn-danger">
                        Delete
                      </button>
                    </div>
                  </div>
                  <!-- Courseworks Calendar -->
                  <div class="tab-pane" id="courseworksCalendar" role="tabpanel"
                    aria-labelledby="courseworksCalendar-tab">
                    <div class="table-responsive">
                      <table id="courseworksTbl" class="table">
                        <caption class="h5 py-0">Courseworks</caption>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Modules</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Edit</th>
                            <th scope="col">
                              <div class="custom-control custom-checkbox checkThemAll">
                                <input type="checkbox" class="custom-control-input" id="cwCheckAll">
                                <label class="custom-control-label" for="cwCheckAll"></label>
                              </div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr>
                                <th scope="row">1</th>
                                <td>Statistics</td>
                                <td>3/4/2019</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-primary ">
                                    <i class="fas fa-pencil-alt"></i>
                                  </button>
                                </td>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cwStatistics">
                                    <label class="custom-control-label" for="cwStatistics"></label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Computation</td>
                                <td>16/5/2019</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-primary ">
                                    <i class="fas fa-pencil-alt"></i>
                                  </button>
                                </td>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cwComputation">
                                    <label class="custom-control-label" for="cwComputation"></label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>
                                  <select class="custom-select">
                                    <option selected>Select Module</option>
                                    <option value="1">Data Structures</option>
                                    <option value="2">Data Mining</option>
                                    <option value="3">Multivariate calculus and mathematical models</option>
                                  </select>
                                </td>
                                <td>
                                  <label for="courseworksDate" class="sr-only">Coursework Date</label>
                                  <input type="date" class="form-control" id="courseworksDate">
                                </td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-primary">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </td>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cwNew" disabled>
                                    <label class="custom-control-label" for="cwNew"></label>
                                  </div>
                                </td>
                              </tr> -->
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                      <button id="addCourseworksCollapseBtn" type="button" class="btn btn-primary mr-2"
                        data-toggle="collapse" data-target="#addCourseworksCollapse">
                        Add Coursework
                      </button>
                      <button id="deleteCourseworks" type="button" class="btn btn-danger">
                        Delete
                      </button>
                    </div>
                    <!-- Add Coursework (Collapse) -->
                    <div class="col-12 mt-3">
                      <div class="collapse" id="addCourseworksCollapse">
                        <div class="card card-body">
                          <div class="table-responsive">
                            <table id="addCourseworksTbl" class="table">
                              <caption class="h5 py-0">Taught Modules</caption>
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Modules</th>
                                  <th scope="col">Due Date</th>
                                  <th scope="col">
                                    <div class="custom-control custom-checkbox checkThemAll">
                                      <input type="checkbox" class="custom-control-input" id="acwCheckAll">
                                      <label class="custom-control-label" for="acwCheckAll"></label>
                                    </div>
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <!-- <tr>
                                      <th scope="row">1</th>
                                      <td>Statistics</td>
                                      <td>
                                        <label for="courseworksDate" class="sr-only">Coursework Date</label>
                                        <input type="date" class="form-control" id="courseworksDate">
                                      </td>
                                      <td>
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="cwStatistics">
                                          <label class="custom-control-label" for="cwStatistics"></label>
                                        </div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row">2</th>
                                      <td>Computation</td>
                                      <td>
                                        <label for="courseworksDate" class="sr-only">Coursework Date</label>
                                        <input type="date" class="form-control" id="courseworksDate">
                                      </td>
                                      <td>
                                        <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" id="cwComputation">
                                          <label class="custom-control-label" for="cwComputation"></label>
                                        </div>
                                      </td>
                                    </tr> -->
                              </tbody>
                            </table>
                          </div>
                          <div class="d-flex justify-content-end mt-3">
                            <button id="addCourseworksBtn" type="button" class="btn btn-primary mr-2">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Exams Calendar -->
                  <div class="tab-pane" id="examsCalendar" role="tabpanel" aria-labelledby="examsCalendar-tab">
                    <div class="table-responsive">
                      <table id="examsTbl" class="table">
                        <caption class="h5 py-0">Exams</caption>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Module</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Class</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- <tr>
                                <th scope="row">1</th>
                                <td>Statistics</td>
                                <td>16/6/2019 10:00 pm</td>
                                <td>3B12</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-primary ">
                                    <i class="fas fa-pencil-alt"></i>
                                  </button>
                                </td>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="exStatistics">
                                    <label class="custom-control-label" for="exStatistics"></label>
                                  </div>
                                </td> 
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Computation</td>
                                <td>27/6/2019 12:00 pm</td>
                                <td>4A07</td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-primary ">
                                    <i class="fas fa-pencil-alt"></i>
                                  </button>
                                </td>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="exComputation">
                                    <label class="custom-control-label" for="exComputation"></label>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>
                                  <select class="custom-select">
                                    <option selected>Select Module</option>
                                    <option value="1">Data Structures</option>
                                    <option value="2">Data Mining</option>
                                    <option value="3">Multivariate calculus and mathematical models</option>
                                  </select>
                                </td>
                                <td>
                                  <label for="examDate" class="sr-only">Exam Date</label>
                                  <input type="date" class="form-control" id="examDate">
                                </td>
                                <td>
                                  <label for="class" class="sr-only">Class</label>
                                  <input type="text" name="" id="class" class="form-control short-width" max-length="6">
                                </td>
                                <td>
                                  <button type="button" class="btn btn-sm btn-primary">
                                    <i class="fas fa-plus"></i>
                                  </button>
                                </td>
                                <td>
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="exNew" disabled>
                                    <label class="custom-control-label" for="exNew"></label>
                                  </div>
                                </td>
                              </tr> -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!-- Modules Grades                    -->
                  <div class="tab-pane" id="modulesGrades" role="tabpanel" aria-labelledby="modulesGrades-tab">
                    <div class="table-responsive">
                      <table class="table">
                        <caption class="h5 py-0">Grades</caption>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Module</th>
                            <th scope="col">Edit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Statistics</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#editModuleMarksModal">
                                <i class="fas fa-pencil-alt"></i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Computation</td>
                            <td>
                              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                data-target="#editModuleMarksModal">
                                <i class="fas fa-pencil-alt"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Courses Settings-->
          <div class="tab-pane" id="courses" role="tabpanel" aria-labelledby="course-list">
            <div class="card">
              <div class="card-header bg-white">
                <h3 class="mb-0">Courses</h3>
                <small class="">
                  Manage any course from the list
                </small>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table id="coursesTable" class="table">
                    <caption class="h5 py-0">Courses</caption>
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Level</th>
                        <th scope="col">Edit</th>
                        <th scope="col">
                          <div class="custom-control custom-checkbox checkThemAll">
                            <input type="checkbox" class="custom-control-input" id="tmCheckAll">
                            <label class="custom-control-label" for="tmCheckAll"></label>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each listCourses}}
                      <tr>
                        <th scope="row">{{aa}}</th>
                        <td class="title">
                          {{name}}
                          {{!-- <input type="text" name="editCourseTitle" id="editCourseTitle" class="form-control"
                            maxlength="64" style="display: none"> --}}
                        </td>
                        <td class="level">
                          {{degree}}
                          {{!-- <input type="text" name="editCourseDegree" id="editCourseDegree" class="form-control"
                            maxlength="64" style="display: none"> --}}
                        </td>
                        <td class="d-none">
                          {{color}}
                          {{!-- <input type="text" name="editCourseDegree" id="editCourseDegree" class="form-control"
                            maxlength="64" style="display: none"> --}}
                        </td>
                        <td class="d-none">
                          {{description}}
                          {{!-- <input type="text" name="editCourseDegree" id="editCourseDegree" class="form-control"
                            maxlength="64" style="display: none"> --}}
                        </td>
                        {{!-- <td>
                          <textarea id="editCourseDescription" name="courseDescription" class="form-control"
                            required></textarea>
                        </td> --}}
                        <td>
                          <button type="submit" id="editCourseBtn1" class="btn btn-sm btn-primary p-0"
                            data-id={{id}} data-toggle="modal" data-target="#editCourseModal">
                            <i class="fas fa-pencil-alt courseEdit"></i>
                          </button>
                          {{!-- <button type="button" class="btn btn-sm btn-success" style="display: none">
                            <i class="fas fa-save courseSave"></i>
                          </button> --}}
                        </td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="cwStatistics">
                            <label class="custom-control-label" for="cwStatistics"></label>
                          </div>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <div class="d-flex justify-content-end mt-3">
                  <!-- Add Course Button -->
                  <button id="addCourseBtn" type="button" class="btn btn-success mr-2">
                    Add Course
                  </button>
                  <!-- Delete Course Button -->
                  <button id="deleteCourseBtn" type="button" class="btn btn-danger">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modules Settings-->
          <div class="tab-pane" id="modules" role="tabpanel" aria-labelledby="module-list">
            <div class="card">
              <div class="card-header bg-white">
                <h3 class="mb-0">Module Info</h3>
                <small>
                  Create a new module
                </small>
              </div>
              <div class="card-body">
                <!-- ======== Create/Delete Modules ======== -->
                <form action="/dashboards/facultyMember/modules/" method="post">
                  <!-- ---- Module Name ---- -->
                  <div class="form-group">
                    <label for="createModuleName">Module Name</label>
                    <div class="input-group input-group--white">
                      <div class="input-group-prepend">
                        <span class="input-group-text" aria-label="Input a module name">
                          <i class="fas fa-book"></i>
                        </span>
                      </div>
                      <input type="text" name="moduleName" id="createModuleName" class="form-control form-control-lg"
                        maxlength="64" />
                    </div>
                  </div>
                  <!-- ---- Course Name & Color ---- -->
                  <div class="form-row">
                    <!-- Course Name -->
                    <div class="form-group col-md-6">
                      <label for="createModuleCourseName">Course Name</label>
                      <div class="input-group input-group--white">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Input a course name">
                            <i class="fas fa-award"></i>
                          </span>
                        </div>
                        <select name="courseName" id="createModuleCourseName" class="custom-select custom-select-lg">
                          <option disabled selected="">Choose ...</option>
                          {{#each selectCourseName}}
                          <option value="{{name}}">{{name}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="createCourseColor">Color</label>
                      <div class="input-group input-group--white">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Select a course color">
                            <i class="fas fa-palette"></i>
                          </span>
                        </div>
                        <input type="color" name="color" id="createCourseColor" class="form-control form-control-lg"
                          value="#343a40" required>
                      </div>
                    </div>
                  </div>
                  <!-- ---- Description ---- -->
                  <div class="form-group">
                    <label for="createModuleDescription">Description</label>
                    {{!-- <small>Write a few words about youself</small> --}}
                    <textarea id="createModuleDescription" name="moduleDescription" class="form-control"
                      required></textarea>
                  </div>

                  <!-- ---- Modules ----  later -->

                  <!-- ---- Create Button ---- -->
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                      Create Module
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        {{!-- ======== Collapses ======== --}}

        <!-- Add Module (Collapse) -->
        <div class="col-12 mt-3">
          <div class="collapse" id="addModulesCollapse">
            <div class="card card-body">
              <div class="table-responsive">
                <table class="table">
                  <caption class="h5 py-0">All Modules</caption>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Modules</th>
                      <th scope="col">Courses</th>
                      <th scope="col">Level</th>
                      <th scope="col">
                        <div class="custom-control custom-checkbox checkThemAll">
                          <input type="checkbox" class="custom-control-input" id="amCheckAll">
                          <label class="custom-control-label" for="amCheckAll"></label>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr class="text-muted">
                        <th scope="row">1</th>
                        <td>Statistics</td>
                        <td>Mathematics</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addStatistics" disabled>
                            <label class="custom-control-label" for="addStatistics"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Data Mining</td>
                        <td>Computing</td>
                        <td>Master</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addDataMining">
                            <label class="custom-control-label" for="addDataMining"></label>
                          </div>
                        </td>
                      </tr>
                      <tr class="text-muted">
                        <th scope="row">3</th>
                        <td>Data Structures</td>
                        <td>Computing</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addDataStructures" disabled>
                            <label class="custom-control-label" for="addDataStructures"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>Geometry</td>
                        <td>Mathematics</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addGeometry">
                            <label class="custom-control-label" for="addGeometry"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>Databases</td>
                        <td>Computing</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addDataBases">
                            <label class="custom-control-label" for="addDataBases"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>Analysis</td>
                        <td>Mathematics</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addAnalysis">
                            <label class="custom-control-label" for="addAnalysis"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>Multivariate calculus and mathematical models</td>
                        <td>Mathematics</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addMCMM">
                            <label class="custom-control-label" for="addMCMM"></label>
                          </div>
                        </td>
                      </tr>
                      <tr class="text-muted">
                        <th scope="row">8</th>
                        <td class="text-muted">Computation</td>
                        <td>Artificial Inteligence</td>
                        <td>Master</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addArtificialInteligence" disabled>
                            <label class="custom-control-label" for="addArtificialInteligence"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Introduction to Object-Oriented Programming</td>
                        <td>Computing</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addIOOP">
                            <label class="custom-control-label" for="addIOOP"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Databases and the Web</td>
                        <td>Computing</td>
                        <td>Master</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addDataBasesWeb">
                            <label class="custom-control-label" for="addDataBasesWeb"></label>
                          </div>
                        </td>
                      </tr>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Introduction to Object-Oriented Programming</td>
                        <td>Computing</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addIOOP">
                            <label class="custom-control-label" for="addIOOP"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Databases and the Web</td>
                        <td>Computing</td>
                        <td>Master</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addDataBasesWeb">
                            <label class="custom-control-label" for="addDataBasesWeb"></label>
                          </div>
                        </td>
                      </tr>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>Introduction to Object-Oriented Programming</td>
                        <td>Computing</td>
                        <td>Bachelor</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addIOOP">
                            <label class="custom-control-label" for="addIOOP"></label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>Databases and the Web</td>
                        <td>Computing</td>
                        <td>Master</td>
                        <td>
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="addDataBasesWeb">
                            <label class="custom-control-label" for="addDataBasesWeb"></label>
                          </div>
                        </td>
                      </tr> -->
                  </tbody>
                </table>
              </div>
              <div class="d-flex justify-content-end mt-3">
                <button id="addModulesBtn" type="button" class="btn btn-primary mr-2">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>


        {{!-- ======== Modals ======== --}}

        <!-- Edit Course -->
        <div id="editCourseModal" class="modal fade modal--default" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header d-flex align-items-center">
                <div class="flex-column">
                  <h3 class="mb-0">Edit Course</h3>
                  <small>Update any of the course's element</small>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/dashboards/facultyMember/courses/?_method=PUT" method="post">
                <input type="hidden" name="_method" value="PUT">

                  <!-- ---- Course Name ---- -->
                  <h2></h2>
                  <div class="form-group">
                    <label for="editCourseName">Course Name</label>
                    <div class="input-group input-group--white">
                      <div class="input-group-prepend">
                        <span class="input-group-text" aria-label="Input a course name">
                          <i class="fas fa-award"></i>
                        </span>
                      </div>
                      <input type="text" name="name" id="editCourseName" class="form-control form-control-lg"
                        maxlength="64" required>
                    </div>
                  </div>
                  <!-- ---- Academic Degree & Color ---- -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="editCourseLevel">Academic Degree</label>
                      <div class="input-group input-group--white">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            aria-label="Select a course academic degree for example 'Bachelor's degree' or 'Master's degree">
                            <i class="fas fa-certificate"></i>
                          </span>
                        </div>
                        <select name="degree" id="editCourseLevel" class="custom-select custom-select-lg" required>
                          <option disabled="" selected="">Choose ...</option>
                          <option value="Bachelor">Bachelor</option>
                          <option value="Master">Master</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="editCourseColor">Color</label>
                      <div class="input-group input-group--white">
                        <div class="input-group-prepend">
                          <span class="input-group-text" aria-label="Select a course color">
                            <i class="fas fa-palette"></i>
                          </span>
                        </div>
                        <input type="color" name="color" id="editCourseColor" class="form-control form-control-lg" required>
                      </div>
                    </div>
                  </div>
                  <!-- ---- Description ---- -->
                  <div class="form-group">
                    <label for="editCourseDescription">Description</label>
                    {{!-- <small>Write a few words about youself</small> --}}
                    <textarea id="editCourseDescription" name="description" class="form-control"
                      required>                           
                      </textarea>
                  </div>

                  <!-- ---- Modules ----  later -->

                  <!-- ---- Create Button ---- -->
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success">
                      Save Changes
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

{{!-- <script>
  $(function () {
    $("#editCourseBtn1").click(function () {
      var data_var = $(this).data('some-id');
      $(".modal-body h2").text(data_var);
    })
  });
</script> --}}


<script>App.init()</script>